* {
  margin: 0;
  padding: 0;
}

#scrollable {
  height: 100px;
  width: 600px;
  background-color: rgb(127, 240, 255);
  border: 5px solid black;
  overflow-y: scroll;
}
#scrollable p {
  height: 30%;
}

.big {
  font-size: 30px;
}
